@import '../../_variables.scss';

.CheckBoxGreen {
  outline: none;
  margin: 0;
  margin-top: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}

.CheckBoxGreen:after {
  width: 14px;
  height: 14px;
  top: -2px !important;
  position: relative;
  background-color: $frame-card !important;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $main-green !important;
  border-radius: 0px !important;
}

.CheckBoxGreen:checked:after {
  width: 14px;
  height: 14px;
  top: -2px !important;
  position: relative;
  background-color: $main-green !important;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $main-green !important;
  border-radius: 0px !important;
}